.place__link-container {
  grid-area: link;
  margin: 0;
  padding: 0;
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .place__link-container {
    width: 288px;
  }
}
