.cover__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  z-index: 1;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
}

.cover__button:hover {
  background-color: #0063d2;
}
