.place__text-container {
  grid-area: text;
  margin: 0;
  padding: 0;
  max-width: 484px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 1279px) {
  .place__text-container {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__text-container {
    max-width: 288px;
  }
}
