.intro__title {
  margin: 0 0 40px;
  padding: 0;
  max-width: 785px;
  font-size: 54px;
  line-height: 107%;
}

@media screen and (max-width: 1280px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}
